body {
  animation: anime 8s infinite;


}

.data-text {
  font-size:25px;
  width:40%;
  text-align:justify;
  margin:150px auto;
}

@keyframes anime {

  0% {
    background:#2e5266;
  }

   20% {
    background:#6e8898;
  }

   40% {
    background: #9fbb1bc;
  }

   60% {
    background: #d3d0cb;
  }

   80% {
    background: #e2c044;
  }

   100% {
    background: #0ca98a;
  }


}
